@media (max-width: 800px){
    .ull{
        display: none;
    }
    .fl{
        display: flex;
        flex-direction: column;
    }
    .sub{
        text-align: justify;
        line-height: 25px;
    }
    .mc{
        margin: auto auto auto auto;
        
    }

    .tab {
        
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 20%;
        border-radius: 10px;
      }
      .tab button {
        border-radius: 10px;
        display: inline;
        
        font-size: 10px;
        font-weight: 300;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
      }

      .tab button:hover {
        color: rgb(128, 36, 0);
        font-size: 11px;
      }
      h3{
        font-size: 25px;
        margin: auto 0 0 10px;
      }

      .desc{
        margin: 10px  0 0 10px;
      }
      .item{
        display: block;
        
    }
    .or{
      margin: 20px 0 0 50px;
    }
}



@media (min-width: 800px) {

   .mobile-nav{
    display: none;
   }
  #fa{
      display: none;
  }
  .m1{
      display: flex;
      flex-direction: row;
      justify-content: right;
      margin-top: -6.5em;
  }
  
  
  }