*{
    box-sizing: border-box;
}

html,body{
    background-image: url(elements/ll.jpg) ;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}

nav{
    margin: 0;
    padding: 5px;
    background-color: rgb(0, 0, 0,0.6);
    box-shadow: -1px 10px 10px 10px rgb(0, 0, 0,0.6);
    width: 100%;
}
h1{
    color: rgb(223, 252, 223);
    font-family: "Audiowide", sans-serif;
    font-weight: 100;
}

.ull {
    list-style: none;
    display: flex;
    justify-content: end;
    margin-top: -2.8rem;
   

}

.li{
    display: inline;
    margin-right: 30px;
}


.links{
    text-decoration: none;
    margin: 0px 10px 10px 50px;
    font-family:  "sofia", sans-serif;
    color: rgb(220, 248, 220);
    font-weight: 500;
    position: relative;
   
}

.links::after{
    height: 1px ;
    width: 0;
    background-color: rgb(158, 255, 158);
    content: "";
    position: absolute;
    bottom: 0;left: 0;
    transition: 0.5s ease-in-out;

}

.links:hover::after{
    width: 100%;
}

.title{
    font-family: "Audiowide", sans-serif ;
    font-size:4rem;
    color: rgb(232, 255, 235);
    text-shadow: 2px 2px 4px black;
    margin-left: 25px;

    
}
.cap{
    font-family: "sofia", sans-serif ;
    font-size:2rem;
    color: rgb(232, 255, 235);
    text-shadow: 2px 2px 4px black;
    margin: -50px 30px;
}

.explr{
    background-color: aliceblue;
    outline: none;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 20px;
    margin: 70px 70px 2px ;
}
.explr:hover{
    background-color: black;

}
.mn{
    padding: 10px;
    color: black;
    font-family: "sofia", sans-serif ;
}
.mn:hover{
    color: aliceblue;
}
.main{
    position: relative;
    padding: 10px;
    margin: 70px 0 0 0; 
    display: block;
}

/*Sacramento*/
.mom-sp{
    background-color: rgb(253, 228, 231);
   
    margin:15em 0 0 0;
    padding: 30px 30px 0px 30px;
    
}

.Hd{
    line-height: 2px;
    font-family: Rubik Dirt;
    font-size: 5vw;
    text-align: left;
}
.hr{
    font-family: Rubik Dirt;
    width: 50%;
    margin-left: 40px;
    background-color: rgb(109, 107, 107);
}

.sub{
    font-family: "sofia", sans-serif ;
    padding: 10px 0 0 ;
    flex: 50%;
    
    text-align: left;
    line-height: 50px;
}
.fl{
    display: flex;
    flex-direction: row;
}
.mc{
       flex: 20%;
    
}

.tab {
    height: fit-content;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    box-shadow: 0px 10px 15px 0px rgb(32, 32, 32, 0.2);
    border-radius: 10px;
  }
  h3{
    font-family: Rubik Burned;
    font-size: 50px;
    margin: 100px 0 0 80px;
    padding: 2px;
  }
  .desc{
    margin: 10px 0 0 80px;
    padding: 2px;
  }
  /* Style the buttons inside the tab */
  .tab button {
    border-radius: 10px;
    display: block;
    font-family: Mate SC;
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    
    
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: rgb(128, 36, 0);
    font-size: 27px;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    color: rgb(8, 131, 14);
  }
  
  /* Style the tab content */
  .tabcontent {
    animation-name: opa;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    padding: 10px 12px;
    transition: 1s ease-in;
    width: 70%;
    border-left: none;
    font-family: "sofia", sans-serif;
    
  }
  .tabcontent1 {
    animation-name: opa;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  
    padding: 0px 12px;
    transition: 1s ease-in;
    width: 70%;
    border-left: none;
    font-family: "sofia", sans-serif;
    
  }
  @keyframes opa {

    from{
        opacity: 0;
    }
    top{
        opacity: 100%;
    }
    
  }
.cont{
    background-color: rgb(236, 255, 233);
    padding: 10px;
    
    
}

  .menu{
    background-color: rgb(236, 255, 233);
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  .menu1{
    background-color: rgb(174, 235, 250);
    padding: 10px;
    display: flex;
    flex-direction: row;
  }
  .name{
    text-align: center;
    font-family: Sacramento ;
    font-weight: bold;
    font-size: x-large;
  }
.item{
    display: flex;
    justify-content: right;
}
  .food{
    width: 490;
    height: 490;
  }


  .or{
    border: 1px solid black;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    background-color: transparent;
    margin: 20px 0 0 150px;
    font-family:  "sofia", sans-serif;
  }
  .o{
    color: #000000;
  }



  .mobile-nav{
    background-color: rgb(0, 0, 0,0.5);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.9s ease-in-out;
    margin-left: -500px;
    
    
    
}
.ul1{
    display: inline;
    text-align: center;
    font-size: large;
    
}
.li1{
    margin-top: 10px;
    padding: 30px;
    text-align: center;
    list-style: none;
    
}
.a1{
    text-decoration: none;
    text-align: center;
    position: relative;
    color:rgb(247, 247, 247) ;
    transition: 0.5s;
    font-family: "sofia", sans-serif;
    
}
.a1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffffff;
    transition: 0.5s ease-out;
}
.a1:hover::after{
    width: 100%;
}
.cls-btn{
    float: right;
    color: #000000;
    font-weight: 500;
    font-size: 30px;
    margin-top: -1px;
    margin-right: 15px;
    color:rgb(2, 99, 53) ;
    cursor: pointer;
}
.cls-btn:hover{
    color: #000000;
}


#fa{
  float: right;
  margin-top: -2.3em;
  margin-right: 15px;
  font-size: 20px;
  color: #ccc;
}
#fa:hover{
  color: gold;
}
